@use 'bootstrap/scss/bootstrap-reboot';
@use 'bootstrap/scss/bootstrap-grid';
@use 'bootstrap/scss/bootstrap-utilities';

@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  .notificacao-sucesso {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-primary),
      )
    );
  }

  .notificacao-aviso {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-primary),
        container-color: var(--mat-sys-surface),
        supporting-text-color: var(--mat-sys-on-surface),
      )
    );
  }

  .notificacao-erro {
    @include mat.snack-bar-overrides(
      (
        button-color: var(--mat-sys-surface),
        container-color: var(--mat-sys-error),
      )
    );
  }
}

body {
  color-scheme: dark;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
