.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

  border-radius: 0;

  padding: 0 10px;

  background-color: var(--mat-sys-on-primary);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--mat-sys-on-primary);
}
